/*** BASE STYLES ***/

body {
    margin: 0;
    padding: 0;
    background: #00a599;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
  
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

p, li {
    font-size: 1.25em;
    line-height: 1.5em;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

/*** FLEX STYLES ***/

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    background: rgba(214, 213, 179, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, main, section, footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*** HEADER STYLES ***/

header {
    color: rgb(255, 255, 255);
    background: rgb(0, 165, 153) url(images/anna-kolosyuk-481874-unsplash.jpg) no-repeat center top/cover;
}

h1 {
    padding-top: 2%;
}

/*** MAIN STYLES ***/

button {
    margin: 0.8em;
    padding: 0.5em;
    font-size: 1.25em;
    background-color: rgb(126, 183, 127);
    border: 1px solid rgba(96, 146, 97, 0.3);
    border-radius: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(96, 146, 97, 0.2), 0 2px 10px 0 rgba(96, 146, 97, 0.19);
}

button:hover {
    cursor: pointer;
    border: 2px solid rgba(96, 146, 97, 0.5);
}

/*** REFERENCE STYLES ***/

#reference {
    background: rgb(0, 165, 153) url(images/markus-spiske-1198338-unsplash.jpg) no-repeat center top/cover;
}

/*** CREDITS STYLES ***/

#credits p, #credits li {
    font-size: 1em;
}

/*** FOOTER STYLES ***/

footer p {
    font-size: 1em;
}

/*** MEDIA QUERIES ***/

